<!--

html,body {
 background-color: white;
 color: #3f3f3f;
 font-family:'Arial';
}

#map a{
 text-decoration:underline;
}

#google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
}
#google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}

th {
  padding:0.3em 0.5em;
  text-align:center;
  font-weight: normal;
  background-color: silver;
  border-right: solid thin gray;
  border-bottom: solid thin gray;
}

.tdint {
  padding:0.3em 0.5em;
  vertical-align: top;
  text-align: right;

}
.tdtxt {
  padding:0.3em 0.5em;
  vertical-align: top;
  text-align: left;
}

  select,input {
   border: 1px solid #c7c8ca;
   color:black;
  }
  .ebutton {
   font-size:1em;
   font-weight:normal;
   border: 1px solid #fff;
   color:black;
   background-color:#c7c8ca;
   width:160px;
   text-align:center;
   cursor:pointer;
  }
   .ebutton:hover {
   color:#464433;
   background-color:#e2dcd4;
  }
  .ebutton2 {
   font-size:1em;
   font-weight:normal;
   border: 0px solid #fff;
   color:black;
   background-color:#c7c8ca;
   width:160px;
   text-align:right;
   cursor:pointer;
  }
  .ebutton2:hover {
   color:#464433;
  }

.ebutton3 {
   font-size:0.91em;
   font-weight:normal;
   height:100%;
   border: 1px solid silver;
   color:black;
   background-color:#ca7044;
   width:100px;
   margin:0 10px;
   text-align:center;
   cursor:pointer;
}
.ebutton3:hover {
  color:#464433;
  background-color:#e2dcd4;
}


  .etxt {
   font-size:100%;
   border: 0px solid #c7c8ca;
   background-color: #fff;
   padding:0px;
   margin:0px;
   width:100%;
   box-sizing:border-box;
   -moz-box-sizing:border-box;
  }
  .etxt2 {
   color:black;
   font-size:14px;
   border: 0px solid #c7c8ca;
   background-color: #fff;
   padding:0 1px;
  }
.stxt {
 font-size:100%;
 border: 0px solid silver;
 background-color: #ffffff;
 width:100%;
 box-sizing:border-box;
 -moz-box-sizing:border-box;
}

  .eimg {
   height: 20px;
   width: 200px;
   border: 1px solid #c7c8ca;
   background-color: #fff;
  }
  .eselect {
   font-size:100%;
   border: 1px solid #c7c8ca;
   background-color: #fff;
   color:black;
  }
  

.hide {display: all;}

img {border:0px solid black;}

div a {
 color:#3f3f3f;
 text-decoration: underline;
}
div a:hover { 
 color: grey;
 text-decoration: underline;
}
.content_teaser2 {
  padding:3px 5px 0 0;
}
.content_img2 {
  float:left;
  vertical-align: top;
  padding:3px 14px 3px 14px;
}
.content_img3 {
  vertical-align: bottom;
  padding:14px 5px;
}
.content_img4 {
  float:right;
  vertical-align: top;
  padding:2px 15px;
}
.chron_underlined3 {
  font-weight:normal;
  text-decoration: underline;
  font-size:12px;
  color:white;
  padding:14px 15px 0 15px;
}
.chron_direct3 {
  color: white;
  padding:0 15px 0 15px;
}
/*end*/


/*---a basic box ---*/
.box{
width: 200px;
height: 200px;
position: relative;
margin: 10px;
float: left;
border: 1px solid #333;
background: #999;
 
}

div#botlogic {
 background-color: #f1f1f1;
 text-align: left;
 margin: 0 auto;
 padding:1em 0.1em 0em 0.1em;
 border: 1px solid silver;
 min-width: 30em;
 max-width: 53em;
}


div#retm {
 position:fixed;
 right:0;
 top:15px;;
 border:1px solid #007700;
 padding:5px;
 width:150px;
 text-align:left;
 color:white;
 background-color:#7ec43b;
 cursor:pointer;
 z-index:11;
}

div#cody {
 position:fixed;
 width: 100%;
 height:100%;
 //background: transparent url(/img/overlay2.png) repeat 0 0;
}


.tdmenu {
  font-size:13px;
  border:3px solid white;
  padding:0 2px;
  width:170px;
  height:20px;
  text-align: right;
}


.editnav { 
  color: #000000;
  font-size: 1em; 
  background-image: url(/img/linkpfeil.gif); 
  background-position: 3px 5px;
  background-repeat: no-repeat;
  padding:1px 1px 1px 17px;
  text-decoration: none;
}

.editnav_menu { 
  position:absolute;
  z-index:2;
  color: #000000;
  font-size: 1em; 
  background-image: url(/img/linkpfeil.gif); 
  background-position: 3px 5px;
  background-repeat: no-repeat;
  padding:1px 1px 1px 17px;
  text-decoration: none;
}
.elinkbutton {
 font-weight: normal;
 font-size: 0.91em;
 border: 1px solid silver;
 color: #000000; 
 background-color: #eaeaea; 
 text-decoration: none;
 padding:0.2em 0.5em;
}
.elinkbutton:hover { color: #000000;}

.elinkbutton1 {
 padding:0 0.1em;
 color:black;
 font-size: 1em;
 text-decoration: none;
}
.elinkbutton1:hover { color:silver;}


.elinkbutton2 {
 font-weight: normal;
 font-size: 0.91em;
 border: 1px solid white;
 color: #000000; 
 background-image:url(/img/bg_main_bottom.gif); 
 text-decoration: none;
 padding:0.1em 0.5em;
}
.elinkbutton2:link {color: #000000;}
.elinkbutton2:visited { color: #000000;}
.elinkbutton2:hover { color: #000000;}

.link {
 text-decoration: none;
 color:black;
}

.linknav {
  margin:0px; 
  text-decoration: none;
}
.linknav:hover { color:silver;}

.linknav1 {
  text-decoration: none;
}
.linknav1:hover { color:silver;}

.linknav5 {
  margin:0px;
  color:white; 
  text-decoration: none;
}
.linknav5:hover { color:silver;}



.linknav2 {
  margin:2px;
  padding:1px 5px;
  border:1px solid gray;
  color:blue;
  background-color:white;
  background-image:url(http://www.copri.eu/img/bg_main_top.gif);
  font-size:12px;
  text-decoration: none;
}
.linknav2:hover { color:silver;}

.linknav3 {
  position:static;
  float:left;
  color:black;
  margin-right:1px; 
  padding:1px 3px;
  text-decoration: none;
  font-size:17px;
  font-weight: normal;
}

.linknav4 {
  position:static;
  float:left;
  color:white;
  background-color:black;
  margin-right:0px; 
  padding:0px 3px;
  text-decoration: none;
  font-size:17px;
  font-weight: normal;
}


.headnav {
 color: #d0a6a6; 
 background-color: gray;
 border: 0px solid red;
 text-decoration: none; 
 font-size: 16px;
}
.headnav:hover { color: #DEC3A9;}

.headnav2 {color: #000000; text-decoration: none; font-size: 14px;}
.headnav2:link {color: #000000;}
.headnav2:visited { color: #000000;}
.headnav2:hover { color: #DEC3A9;}


.leftnav {margin:0px; color: #000000; text-decoration: none;}
.leftnav:link {color: #000000;}
.leftnav:visited { color: #000000;}
.leftnav:hover { color:white;}

.leftnav1 {margin:0px; color:#000000; text-decoration: none;}
.leftnav2 {margin:0px; color:#666666; text-decoration: none;}

div#Contenttxt {
 min-height:300px;
 padding-left:0px;
 border:0px solid silver;
 text-align: left;
}

div#ContentLogin {
 text-align:center;
 max-width:425px; 
 width:100%;
 padding:20px;
 margin:10px 0;
 border: 0px solid #cccccc;
}

div#Mlogic {
 display:none;
}

div#fish {
  position:fixed;
  margin:0 auto; 
  border:0px solid black; 
  bottom:5px; 
  left:30px;
  z-index:2;
}
div#bottom_text {
 display:none;
}

#pic-serial { display:inline; height:auto;width:100%;padding:0; }
#pic-contact { display:inline; float:left; height:300px;padding:96px 14px 10px 0; }
#pic-float { display:inline; float:left; height:188px;padding:15px 10px 0px 0px; }
#pic-payment { height:40px;padding-left:10px; }

.title2 {
  font-weight:300;
  padding:0;
}

.content_title2 {
  font-size:16px;
}

.content_title3 {
  font-size:24px;
  padding-top:24px;
}
.content_title3teaser {
  font-weight:normal;
  padding:0;
}

.content1 {
  font-size:18px;
  line-height:1.2;
  font-weight:bold;
  padding-bottom:7px;
}
.content12 {
  font-size:17px;
  line-height:1.2;
  font-weight:bold;
  padding-top:22px;
}
.content13 {
  font-size:16px;
  line-height:1.2;
  font-weight:bold;
}
.content2 {
  line-height:1.2;
  padding-top:22px;
  max-width:750px;
}
.content2_legende {
  font-size:16px;
  line-height:2.0;
  max-width:750px;
  text-align:left;
}
.content23 {
  font-size:16px;
  line-height:1.2;
  padding-bottom:22px;
  max-width:750px;
}
.content2_contact {
  font-size:14px;
  line-height:1.5;
  max-width:750px;
}
.footer {
  font-size:11px;
  padding:15px 5%;
}

@media (max-width: 768px){

 div#Contenttxt {
  border:0px solid silver;
  padding:0px;
  text-align: left;
 }
 .container_img {
  text-align:left;
  padding: 3% 0%;
  width:100%;
 }

 .footer {
  padding:10px 15px;
 }

 .container_imgcontact {
  text-align:left;
  padding: 3% 3%;
  width:100%;
 }
 .content2_contact {
  text-align:left;
  width:100%;
 }

 div#Contenttxt1 {
  position:relative;
  margin:0;
  padding: 0 14px;
  width:100%;
 }
 div#Contenttxt2 {
  position:relative;
  margin:0;
  padding: 10px 15px;
  width:100%;
 }

 div#fish {
  position:fixed;
  margin:5px 15px;
  border:0px solid black;
  bottom:3px;
  left:0px;
  z-index:0;
 }

 div#fish img {
  width:35px;
 }
 div#bottom_text {
  position:fixed;
  display:inline;
  background-color:white;
  opacity:0.90;
  margin:0 auto; 
  border:0px solid black; 
  padding:3px 15px;
  bottom:0px; 
  right:0px;
  z-index:5;
 }
}

div#navtop {
 vertical-align:top;
 border: 0px solid white;
}
div#navtop a {
 color: white;
 margin: 0; padding: 10px 15px 0 7px;
 text-decoration: none; 
 font-weight: normal;
 font-size:1.4em;
}
div#navtop a:hover {
 color: #cccccc;
}
div#navtop a:active {
 color: white;
}


div#navfoo {
 vertical-align:top;
 border: 0px solid white;
}
div#navfoo a {
 color: white;
 margin: 0; padding: 30px 15px 0 7px;
 text-decoration: none; 
 font-weight: normal;
 font-size:1.4em;
}
div#navfoo a:hover {
 color: #cccccc;
}
div#navfoo a:active {
 color: white;
}


ul#Navi li#bold {
 color: black;
 font-size:14px;
 list-style: none;
 margin: 0; 
 padding: 1px 1px 1px 5px; 
}
ul#Navi li#thin {
 color: white;
 font-size:14px;
 list-style: none;
 margin: 0; 
 padding: 1px 5px 1px 15px; 
 text-align:right;
}



div#Container_cms {
 font-size: 12px;
 border: 0px solid gray;
 margin: 0 auto;
 padding: 0;
 min-width: 100%;
 min-height: 200px;
}

.tdescr2 {
  padding:1px 10px;
  vertical-align: top;
  text-align: right;
  width:130px;
}
.tdval2 {
  padding:1px 10px;
  vertical-align: top;
  text-align: left;
}

.left_italic_cms {
  padding:5px;
  min-width:80px;
  max-width:100px;
  padding-right: 15px;
  vertical-align: top;
  text-align: right;
  font-style:italic;
  border-right: solid thin silver;
  border-bottom: solid thin silver;
}

.content1_cms {
  padding:0 5px 5px 5px;
  min-width:100px;
  vertical-align: top;
  text-align: left;
  border-right: solid thin silver;
  border-bottom: solid thin silver;
}
.editnav {
  color:black;
  background-color:silver;
  background-image: url(/img/linkpfeil.gif);
  background-position: 3px 6px;
  background-repeat: no-repeat;
  padding:1px 10px 1px 17px;
  text-decoration: none;
}
.editnav:hover {
  color:black;
  background-color:#f0f1da;
}

//-->


