<!--

html,body {
 background-color: white;
 color: #3f3f3f;
 font-family:'Arial';
}

.tdint {
  padding:0.3em 0.5em;
  vertical-align: top;
  text-align: right;

}
.tdtxt {
  padding:0.3em 0.5em;
  vertical-align: top;
  text-align: left;
}


div#Contenttxt {
 min-height:600px;
 padding-left:0px;
 border:0px solid silver;
 text-align: left;
 color: #4f3f3f;
}

div#ContentLogin {
 min-height:600px;
 text-align:center;
 max-width:380px;
 width:100%;
 padding:0px;
 margin:0;
 border: 0px solid #cccccc;
 color: #4f3f3f;
}

select,input {
 border: 1px solid #c7c8ca;
 color:black;
}

div a {
 color:#4f3f3f;
 text-decoration: underline;
}
div a:hover {
 color: grey;
 text-decoration: underline;
}
.content_title2 {
  font-size:1.2em;
 color: #4f3f3f;
}

.content_title3 {
  font-size:1.5em;
  padding-top:1.0em;
 color: #4f3f3f;
}

.content1 {
  font-size:1.5em;
  line-height:1.2;
  font-weight:bold;
  padding-bottom:0.7em;
 color: #4f3f3f;
}
.content2 {
  line-height:1.2;
  padding-top:1.0em;
  max-width:750px;
 color: #4f3f3f;
}
.content2_contact {
  font-size:1em;
  line-height:1.5;
  max-width:750px;
 color: #4f3f3f;
}
.content2_legende {
  line-height:2.0;
  max-width:750px;
  text-align:left;
  padding:0.2em 0;
 color: #4f3f3f;
}

/*
@media (max-width: 768px){

 div#Contenttxt {
  border:0px solid silver;
  padding:0px;
  text-align: left;
 }
}
*/

//-->


